<div class="releases">
  <div class="animated fadeIn release-title ui segment">
    <h1>{{title}}</h1>
  </div>
  {{#if data}}
    <div class="animated fadeIn releases-grid">
      {{#each data as |release|}}
        <div class="release-panel ui segment">
          <h1 class="release-data release-number">{{release.release-title}}</h1>
          <h1 class="release-data days-left-data">{{release.daysLeft}}</h1>
          <h2 class="release-text days-left">days left</h2>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
