{{#if smashTime}}
  <audio id='smashAudio'>
    <source src="smashtime.wav">
  </audio>

  <div class="smash-content ui segment">
    <img class="smash-logo" src="Super_Smash_Bros_logo.svg" alt="Smash Logo">
  </div>
{{/if}}
